@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    
    color: #6FFFE9;
}

body{
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    background-color: #0B132B;
}

header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2%;
}
header h1{
    margin-bottom: 10px;
}
h1, h2 {
    font-weight: 800;
}
h1{
    font-size: 4rem;
    text-align: center;
}
h2{
    font-size: 2rem;
    padding: 1%;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}

nav ul li{
    list-style-type: none;
    font-size: 1.75rem;
}

nav ul li a{
    text-decoration: none;
}
main section:nth-child(2) {
    margin-bottom: 20px;
}

 #books h2{
    text-align: center;
}

#page_title{
    background-color: #5BC0BE;
}
#card-section{
    display: flex;
    background-color: #3A506B;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 10px 5px 5px teal;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.card-image img{
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.card-description {
    width: 100%;
    padding: 2%;
}

.card-title{
    font-size: 1.25rem;
    text-align: center;
    font-weight: 900;
}
.card-text{
    font-size: 1.15rem;
    padding: 2%;    
}
#goal-setting-benefits{
    background-color: #5BC0BE;
    margin-bottom: 20px;
    
}

#goal-setting-benefits h2{
    text-align: center;
    color:#0B132B;
    
}

#goal-setting-benefits table {
    color:#0B132B;
    border: 2px solid #0B132B;
    margin: 0 auto;
    padding: 0;
    border-collapse:collapse;
    border-spacing: 20px;
    width: 60%;
}

#goal-setting-benefits table tr:nth-child(odd){
    background-color: #3A506B;
    color: #5BC0BE;
}
#goal-setting-benefits table tr th {
    font-weight: 900;
    font-size: 1.75rem;
    padding: 2%;
    margin: 2%;
}

#goal-setting-benefits table tr td{
    font-size: 1.25rem;
    padding: 2%;
    
}

#books{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.box{
    display: flex;
    width: 75%;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 10px;    
    background-color: #5BC0BE;
    padding: 2%;
    justify-content: first baseline;
}
.box-figure{
    width: 100%;
    height: 100%;
    margin: 2%;
}

.box-figure img{
    width: 100%;
    height: 100%;
}

.box-text{
    color:#0B132B;
    font-size: 1.25rem;
}

footer{
    display: flex;
    justify-content: space-between;

}

#copyright_info{
    text-align: center;
    font-size: 1.05rem;
}

/* Content for contact page */
#contact {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    width:50%;
    margin: 0 auto;
}

#contact fieldset{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    margin: 2%;
}

#contact legend{
    font-size: 1.5rem;
}
#contact label {
    font-size: 1.75rem;
   
}

#contact fieldset div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center;
    width: 70%;
    margin: 0 auto;
}

#contact select, #contact textarea, #contact input{
    color: #0B132B;
}
#contact input {
    padding: 2%;
    width: 70%;
    margin: 2%;
}

#contact textarea{
    text-align: left;
}
#contact button{
    font-size: 2rem;
    color: #0B132B;
    width: 50%;
    margin: 0 auto;
}

/* Goal Tracking */
#goal-tracker{
    display: flex;
    flex-direction: column;
    margin: 2% auto;
    align-items: center;

}

#goal-tracker-input{
    font-size: 1.25rem;
    color: #0B132B;
    padding: 2%;
    margin: 2%;
}

#addGoal{
    color:#0B132B;
    font-size: 1.5rem;
    padding: 2%;
}
table{
    background-color: #5BC0BE;
    color: #0B132B;
    font-size: 4rem;
    margin: 0 auto;
}

.completed{
    text-decoration: line-through;
}
.table-row{
    margin: 2%;
    width: 400px;
    border-radius: 5%;
    border: 1px solid black;
}

.table-row td{
    width: 100%;    
    margin: 2%;
}

